template(name="search")
  .input-group
    //- span.input-group-addon.prevPage Previous Page
    span.input-group-addon Search Words 
    input#searchWords.form-control(type="text")
    //- span.btn.btn-default.input-group-addon.nextPage Next Page