template(name="videoList")
  //- h1 {{helloObject.name}}
  //- br
  //- each helloObject.data
  //-   hr
  //-   h2 {{text}}
  //-   hr
  //- .row.clearfix
  //-   .col-md-12.column
  .row.clearfix
    each videoList
      +video